name: PushBuild

on:
  push:
    branches:
      - getx
env:
  FLUTTER_VERSION: '3.24.1'

permissions: write-all # 给所有工作写权限

jobs:
  job_apk:
    name: 构建android软件
    runs-on: ubuntu-latest
    env:
      version: "pushAction"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: 编译环境设置 Java 17
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: 构建签名环境
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        run: echo $SIGNING_KEY | base64 -d > android/app/key.jks
      - name: 编译apk
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION  }}
      - name: 执行编译命令
        env:
          ALIAS: ${{ secrets.ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        run: | 
          flutter pub get
          flutter build apk --release --target-platform android-arm,android-arm64
      - name: 重命名文件
        run: mv build/app/outputs/apk/release/app-release.apk build/app/outputs/apk/release/schedule-android-${{ env.version }}.apk
      - name: 上传产物
        uses: actions/upload-artifact@v3
        with:
          name: android
          path: build/app/outputs/apk/release/schedule-android-${{ env.version }}.apk

  job_ipa:
    name: 构建ios软件
    runs-on: macos-latest
    env:
      version: "pushAction"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: 编译环境设置
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION  }}
      - name: Build (ios)
        run: |
          flutter pub get
          flutter build ios --release --no-codesign
          mkdir -p build/ios/iphoneos/Payload
          mv build/ios/iphoneos/Runner.app build/ios/iphoneos/Payload
          zip -9 build/ios/iphoneos/release-ios.ipa -r build/ios/iphoneos/Payload
      - name: 重命名文件
        run:  mv build/ios/iphoneos/release-ios.ipa build/ios/iphoneos/schedule-ios-${{ env.version }}.ipa
      - name: 上传产物
        uses: actions/upload-artifact@v3
        with:
          name: ios
          path: build/ios/iphoneos/schedule-ios-${{ env.version }}.ipa